.tos-user-bar-container {
    position: relative;
}

.tos-user-panel {
    position: relative;
    width: 20rem;
    margin-right: 0px;
    margin-left: auto;
}

.tos-show-profile {
    cursor: pointer;
}