<div class="tos-screen">
    <div class="tos-container-small tos-middle">
        <div>
            <button type="button" class="btn btn-block  btn-outline-primary" (click)="connect()">Play casual</button>
        </div>
        <div class="my-2 d-flex align-items-center">
            <div class="border-bottom border-dark flex-grow-1 mx-4" style="height: 1px"></div>
            <div>OR</div>
            <div class="border-bottom border-dark flex-grow-1 mx-4" style="height: 1px"></div>
        </div>
        <div>
            <button type="button" class="btn btn-block btn-facebook" (click)="fbConnect()">
                <i class="fab fa-facebook"></i>
                Continue with Facebook
            </button>
        </div>
    </div>
</div>